<div class="container">
  <h1>New Project Team Member</h1>

  <%= render 'form', project: @project_team_member %>

  <%= link_to 'Back', admin_project_team_members_path, class: "btn btn-dark float-right" %>
</div>